In [2]:
### Create and Access List Elements

fruits = ["apple","grape","cherry","pineapple","orange"]
print(fruits[2])
print(fruits[4])

cherry
orange

In [5]:
### Concatenate Two Lists

a = [11, 22, 33, 44]
b = [55, 66, 77, 88]

print(a + b)

[11, 22, 33, 44, 55, 66, 77, 88]

In [6]:
### Extract Elements from a List

letters = ["A", "B", "C", "D", "E", "F", "G"]

first_letter = letters[0]
mid_letter = letters[len(letters) // 2]
last_letter = letters[-1]

new_list = [first_letter, mid_letter, last_letter]

print("Extracted elements:", new_list)

Extracted elements: ['A', 'D', 'G']

In [10]:
### Convert List to Tuple

favourite_movies = ['Interstellar', 'The Godfather', 'The Shawshank Redemption', 'Forrest Gump', 'Back to the Future']

movies_tuple = tuple(favourite_movies)

print(movies_tuple)

('Interstellar', 'The Godfather', 'The Shawshank Redemption', 'Forrest Gump', 'Back to the Future')

In [16]:
### Check Element in a List

cities = ["New York", "London", "Tokyo", "Paris", "Sydney"]

if "Tashkent" in cities:
    print("Tashkent is in the list.")
else:
    print("Tashkent is not in the list.")

Tashkent is not in the list.

In [17]:
###  Duplicate a List Without Using Loops

numbers = [1, 2, 3, 4, 5, 6, 7]

duplicated_list = numbers * 2

print(duplicated_list)

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

In [18]:
### Swap First and Last Elements of a List

numbers = [33, 55, 77, 99, 121]

numbers[0], numbers[-1] = numbers[-1], numbers[0]

print("List after swapping:", numbers)

List after swapping: [121, 55, 77, 99, 33]

In [19]:
### Slice a Tuple

numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(numbers[3:7])

(4, 5, 6, 7)

In [26]:
### Count Occurrences in a List

colours = ("black", "blue", "white", "red", "blue", "black", "blue", "brown", "green", "blue", "black", "red")
print("Numbers of repeats:", colours.count("blue"))

Numbers of repeats: 4

In [27]:
### Find the Index of an Element in a Tuple

animals = ('monkey', 'deer', 'jaguar', 'lion', 'elephant', 'tiger')

print(animals.index("lion"))

3

In [28]:
#### Merge Two Tuples

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (6, 7, 8, 9, 10)

merged_tuple = tuple1 + tuple2

print("Merged Tuple:", merged_tuple)

Merged Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [29]:
### Find the Length of a List and Tuple

numbers = (11, 22, 33, 44, 55, 66, 77, 88, 99, 111, 222 , 333, 444, 555, 6666, 77777, 88888, 99999)

length_of_tuple = len(numbers)

print("The length of tuple:", length_of_tuple)

The length of tuple: 18

In [30]:
### Convert Tuple to List

numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

list_numbers = list(numbers)

print(list_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
### Find Maximum and Minimum in a Tuple

numbers = (17, 27, 25, -2, 11, 8, 9, -7, 19, 217, 0)

max_value = max(numbers)
min_value = min(numbers)

print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 217
Minimum value: -7

In [5]:
### Reverse a Tuple

words = ("rabbit", "banana", "cherry", "information", "chocolate", "tomato")

reversed_tuple = words[::-1]

print("Reversed Tuple:", reversed_tuple)

Reversed Tuple: ('tomato', 'chocolate', 'information', 'cherry', 'banana', 'rabbit')